@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');





body {
    background-image: linear-gradient(#a78bfa, #f87171, #0ea5e9);
   
}

a {
    display: block
}

/* css syntax */

/* selector {
    property: value
} */

/* selector by tagname
selector by id
selector by class name */

.header2 {
    font-size: xx-large;
    color: rgb(20, 154, 85);
}

#header3 {
    font-size: x-small;
    color: red;
}

sass

