@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(#60a5fa, #f9a8d4, #c084fc);
}

body h2 {
    color: white;
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 5px;
}

.spanQtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #60a5fa;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px
}

.finish button {
    text-align: center;
}